@model IEnumerable<ProductViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Products</h2>

@foreach (var product in Model)
{
    <li>Name: @product.Title</li>
    <li>Description: @product.Description</li>
}
